



.banner-image {
    width: 100%;
    background-image: url(static/images/nav_bannenr_1.png) !important;
    

}

.footer{
    width: 100%;
    background-image: url(static/images/nav_bannenr_1.png) !important;
}


.audio-controls{
    max-width: 100%;
}
